extends ../layout

block content
    .row
        .col-sm-8    
            h1(class = "grey") List of products
        .col-sm-4(class= "alert") 
            a(href = "/products/add",class = "btn btn-success") Add new Product
    table.table 
        thead
            tr 
                th Name
                th Price 
                th
        tbody 
            each data in product
                tr
                    td=data.name 
                    td=data.price
                    td 
                        a(href="/products/delete/"+data._id, class = "btn btn-danger float-right") Delete
                        a(href="/products/edit/"+data._id, class = "btn btn-warning float-right") Edit
                        a(href="/products/cart/"+data._id, class = "btn btn-info float-right") Add To Cart  
