extends layout

block content
    .row
        .col-sm-15    
            h1(class = "grey") Products Item

    table(class = "table") 
        thead
            tr 
                th Todo
                th Details 
        tbody 
            each data in product
                tr
                    td=data.todo
                    td=data.details  

    a(href="./todos/createTodo") Create a Todo

